// ----------------------------- //
// VARIABLES - PROTECT //
// ----------------------------- //

// main brand colors
$blue: #0C2C67;
$green: #66C296;

// secondary brand colors
$blue-light: #3B54BA;
$blue-lighter: #BFCDFB;
$green-dark: #45A476;
$green-light: #E8F7F0;

// supporting colors
$red: #FF4848;
$yellow: #FF4848;
$orange: #FF8948;
$sand: #E3DED7;
$olive: #8C865B;
$forest: #71865B;
$green-bright: #33CC66;
$green-darker: #367E58;

// neutral colors
$white: #FFFFFF;
$gray: #999999;
$gray-medium: #ced4da;
$gray-lighter: #F9F9F9;
$gray-light: #F5F8F7;
$gray-blue-light: #F6FAFF;
$gray-dark: #666666;
$black: #000000;
$pale-yellow: #FAFAEC;

// media queries
$widthMobile: 575px;
$widthTablet: 767px;
$widthDesktop: 992px;
