@import url('https://fonts.googleapis.com/css2?family=Cantata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

h1 {
  font-family: 'Cantata One', serif;
  color: #3b54ba;
  font-size: 70px;
}
h2 {
  font-family: 'Cantata One', serif;
  color: #3b54ba;
  font-size: 50px;
}
h3 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  color: #666666;
  font-size: 37px;
}
h4 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  color: #3b54ba;
  font-size: 32px;
}
h5 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  color: #666666;
  font-size: 31px;
}
article {
  h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    color: #666666;
    font-size: 28px;
  }
}
p {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  color: #666666;
  font-size: 20px;
}

a {
  color: $blue;
}
