@import "node_modules/bootstrap/scss/functions";
@import "../../scss/componentvariables.scss";
@import "node_modules/bootstrap/scss/_variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/buttons";


// @import "node_modules/bootstrap/scss/type";
// @import "node_modules/bootstrap/scss/images";
// @import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
// @import "tables";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
// @import "transitions";
// @import "dropdown";
// @import "button-group";
@import "node_modules/bootstrap/scss/input-group";
@import "node_modules/bootstrap/scss/custom-forms";
// @import "nav";
// @import "navbar";
// @import "card";
// @import "breadcrumb";
// @import "pagination";
// @import "badge";
// @import "jumbotron";
// @import "alert";
// @import "progress";
// @import "media";
// @import "list-group";
// @import "close";
// @import "toasts";
// @import "modal";
// @import "tooltip";
// @import "node_modules/bootstrap/scss/popover"; // This is needed for finger button module.
// @import "popover";
// @import "carousel";
@import "node_modules/bootstrap/scss/spinners";
// @import "utilities";
// @import "print";

@import 'node_modules/bootstrap-vue/src/index.scss';
// @import "node_modules/bootstrap-vue/src/components/card/index";
// @import "dropdown/index";
@import "node_modules/bootstrap-vue/src/components/form-checkbox/index";
// @import "form-file/index";
// @import "node_modules/bootstrap/scss/form-input/index";
// @import "form-radio/index";
// @import "input-group/index";
// @import "modal/index";
// @import "nav/index";
// @import "navbar/index";
// @import "pagination/index";
// @import "pagination-nav/index";
// @import "popover/index";
// @import "table/index";
// @import "toast/index";
// @import "tooltip/index";
